<table class="table table-striped">
	<thead>
		<tr>
			<td>Ime</td>
			<td>Registracija</td>
			<td>Model</td>
			<td>Započeto</td>
			<td>Završeno</td>
			<td>Opcije</td>
		</tr>
	</thead>
	<tbody>	
		<% order.each do |u| %>
			<tr>
				<td><%= u.client.nameFirst %> <%= u.client.nameLast %></td>
				<td><%= u.vehicle.vehicleRegistration %></td>
				<td><%= u.vehicle.vehicleModel %></td>
				<td><%= u.timeStart %></td>
				<td>
					<% if u.status != 1 %>
						<%= u.timeFinish %>
					<% else %>
						U tijeku
					<% end %>
				</td>
				<td>
					<% if currentUser != nil && currentUser.canEdit("Orders") %>
						<div style="float:left;">
							<%= link_to '<i class="fa fa-edit"></i> Izmjeni'.html_safe, 
							        	edit_order_path(u),
							        	:class => "btn btn-default" %>
						</div>
						<div style="float:left; margin-left:10px;">
							<%= link_to '<i class="fa fa-trash"></i> Izbriši'.html_safe, 
							        	order_path(u),
							        	:method => "delete",
							        	:confirm => "Jeste li sigurni da želite izbrisati radni nalog?",
							        	:class => "btn btn-danger" %>
						</div>
					<% end %>
					<% if currentUser != nil && currentUser.canView("Orders") %>
						<div style="float:left; margin-left:10px;">
							<%= link_to '<i class="fa fa-eye"></i> Pogledaj'.html_safe, 
							        	order_path(u),
							        	:class => "btn btn-info" %>
						</div>
					<% end %>
				</td>
			</tr>
		<% end %>
	</tbody>
</table>