<%= form_for order do |f| %>

	<div class="row">
		<div class="col-md-6">
			<div class="form-group">
				<label for="page_title">Servisni savjetnik</label>
				<% 
					options = ""
					Role.where(:canChangeOrders => false, :canViewOrders => true).each do |role|
						role.users.each do |p|
							sel = ""
							if order.user != nil && order.user.id == p.id
								sel = "selected"
							end
							options += '<option value="'+p.id.to_s+'" '+sel+'>'+p.nameFirst+' '+p.nameLast+' - '+p.loginUsername+'</option>'
						end
					end
				%>
				<%= f.select :user_id, options.html_safe, {}, 
							{:class => "form-control"} %>
			</div>
			<div class="form-group">
				<label for="page_slug">Klijent</label>
				<% 
					options = ""
					Client.all.each do |p|
						sel = ""
						if order.client != nil && order.client.id == p.id
							sel = "selected"
						end
						options += '<option value="'+p.id.to_s+'" '+sel+'>'+p.nameFirst+' '+p.nameLast+' - '+p.contactAdress+' - '+p.contactTelephone+'</option>'
					end
				%>
				<%= f.select :client_id, options.html_safe, {}, 
							{:class => "form-control"} %>
			</div>
			<div class="form-group">
				<label for="page_slug">Vozilo</label>
				<% 
					options = "<option>Odaberite Klijenta</option>"
					if order.client != nil && Client.find_by(id: order.client.id) != nil
						options = ""
						Client.find_by(id: order.client.id).client_vehicles.all.each do |p|
							vehicle = Vehicle.find_by(id: p.vehicle_id)
							if vehicle != nil
								sel = ""
								if order.vehicle != nil && order.vehicle.id == vehicle.id
									sel = "selected"
								end
								options += '<option value="'+vehicle.id.to_s+'" '+sel+'>'+vehicle.vehicleRegistration+' - '+vehicle.vehicleModel+' - '+vehicle.buildYear.to_s+'</option>'
							end
						end
					end
				%>
				<%= f.select :vehicle_id, options.html_safe, {}, 
							{:class => "form-control"} %>
			</div>
		</div>
		<div class="col-md-6">
			<div class="form-group">
				<label for="page_title">Vrijeme početka</label>
				<div>
					<%= f.datetime_select :timeStart, :class => "form-control" %>
				</div>
			</div>
			<div class="form-group">
				<label for="page_title">Vrijeme završetka</label>
				<div>
					<% 
						if order.status == 1
							order.timeFinish = Time.now - 5*60
						elsif order.timeStart >= order.timeFinish
							order.timeFinish = order.timeStart + 3*60*60
						end
					%>
					<%= f.datetime_select :timeFinish, :class => "form-control" %>
				</div>
			</div>
			<div class="form-group">
				<label for="page_title">Status</label>
				<div>
					<%= f.select :status, 
							[["Otvoren", 1],["Storniran", 2],["Zatvoren", 3]], 
							{}, 
							{:class => "form-control"} %>
				</div>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-md-4">
			<div class="form-group">
				<label for="page_tags">Opis radova</label>
				<%= f.text_area :description, 
					:placeholder => "Čini se da se gepufna izvinula te da je cinculator puknuo...", 
					:class => "form-control" %>
			</div>
		</div>
		<div class="col-md-4">
			<div class="form-group">
				<label for="page_tags">Postupci</label>
				<%= f.fields_for :order_procedures do |builder| %>
				  	<%= render 'order_procedure_fields', f: builder %>
				<% end %>
				<div>
					<%= link_to_add_fields '<i class="fa fa-plus"></i> Dodaj postupak'.html_safe, f, :order_procedures, "btn btn-default" %>
				</div>
			</div>
		</div>
		<div class="col-md-4">
			<div class="form-group">
				<label for="page_tags">Dijelovi</label>
				<%= f.fields_for :order_parts do |builder| %>
				  	<%= render 'order_part_fields', f: builder %>
				<% end %>
				<div>
					<%= link_to_add_fields '<i class="fa fa-plus"></i> Dodaj djelove'.html_safe, f, :order_parts, "btn btn-default" %>
				</div>
			</div>
		</div>
	</div>

<% end %>

<script type="text/javascript">
	$(document).ready(function() {
		var clientId = parseInt($('#order_client_id option:selected').val());
		getVehicles(clientId);

		$('#order_client_id').change(function() {
			clientId = parseInt($('#order_client_id option:selected').val());
			getVehicles(clientId);
		});
	});

	function getVehicles(clientID) {
		$.ajax({
		  	url: "/clients/vehiclesFor?client_id="+clientID,
		  	dataType: 'json',
		  	success: function(result){
		  	  	//alert("token recieved: " + result.token);
		  	},
		  	error: function(request, textStatus, errorThrown) {
		  	  	$('#order_vehicle_id').html('<option selected>Došlo je do greške... Molim odaberite drugog korisnika.</option>');
		  	},
		  	complete: function(request, textStatus) { //for additional info
		  	  	$('#order_vehicle_id').html('');
		  	  	var json = $.parseJSON(request.responseText);
		  	  	var myhtml = "";
				if (json.length === 0) 
					myhtml = "<option selected> Korisnik ne posjeduje vozilo! </option>";
		  	  	else
		  	  		$.each(json, function(i, obj) {
					  	myhtml += "<option value=\""+obj.id+"\">"+obj.vehicleRegistration+" - "+obj.vehicleModel+" - "+obj.buildYear+"</option>";
					});
				$('#order_vehicle_id').html(myhtml);
		  	}
		});		
	}

	jQuery(function() {
	  $('form').on('click', '.remove_fields', function(event) {
	    $(this).prev('input[type=hidden]').val('1');
	    $(this).closest('fieldset').hide("fast");
	    return event.preventDefault();
	  });
	  return $('form').on('click', '.add_fields', function(event) {
	    var regexp, time;
	    time = new Date().getTime();
	    regexp = new RegExp($(this).data('id'), 'g');
	    $(this).before($(this).data('fields').replace(regexp, time));
	    return event.preventDefault();
	  });
	});
</script>
