<% content_for :contextMenu do %>
	<% if currentUser != nil && currentUser.canEdit("Orders") %>
		<li class="dropdown">
			<a href="#" class="dropdown-toggle" data-toggle="dropdown">
		      	<i class="fa fa-bars fa fa-large"></i>
			</a>
		  	<ul class="dropdown-menu">
		      	<li>
		      		<%= link_to '<i class="fa fa-plus"></i> Otvori Radni nalog'.html_safe, new_order_path, "data-no-turbolink" => false %>
		      	</li>
			</ul>
		</li>
	<% end %>
<% end %>

<div class="container">

	<div class="row">
		<div class="col-md-12">
			<h1>Radni nalozi</h1>
		</div>
		<div class="col-md-12">
			<ul class="nav nav-tabs">
			  	<li class="active"><a href="#tabFirst" data-toggle="tab">Otvoreni</a></li>
			  	<li><a href="#tabSecond" data-toggle="tab">Stornirani</a></li>
			  	<li><a href="#tabThird" data-toggle="tab">Zatvoreni</a></li>
			</ul>
		</div>
	</div>

	<div class="row">
		<div class="col-md-12">
			<div class="tab-content">
			  	<div class="tab-pane active" id="tabFirst">
			  		<%= render :partial => "index", :locals => {:order => Order.where(:status => 1)} %>
			  	</div>
			  	<div class="tab-pane" id="tabSecond">
			  		<%= render :partial => "index", :locals => {:order => Order.where(:status => 2)} %>
			  	</div>
			  	<div class="tab-pane" id="tabThird">
			  		<%= render :partial => "index", :locals => {:order => Order.where(:status => 3)} %>
			  	</div>
			</div>
		</div>
	</div>

</div>

<% if params[:closed] != nil %>
<script type="text/javascript">
	if (!$('#content-helper').length)
	{
		$('body').append("<div id=\"content-helper\"></div>");
	}
	if (!$('#tempModal').length)
	{
		$("#content-helper").html  (''+
									'<div class="modal fade" id="tempModal" tabindex="-1" role="dialog" aria-labelledby="tempModal" aria-hidden="true">'+
									  	'<div class="modal-dialog">'+
									  	  	'<div class="modal-content">'+
									  	  	  	'<div class="modal-header">'+
									  	  	  	  	'<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>'+
									  	  	  	  	'<h4 class="modal-title" id="tempModalHeader">Modal title</h4>'+
									  	  	  	'</div>'+
									  	  	  	'<div class="modal-body" id="tempModalBody">'+
									  	  	  	  '	<p>One fine body&hellip;</p>'+
									  	  	  	'</div>'+
									  	  	  	'<div class="modal-footer" id="tempModalFooter">'+
									  	  	  	  	'<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>'+
									  	  	  	'</div>'+
									  	  	'</div>'+
									  	'</div>'+
									'</div>'+
									'');
		$('#tempModal').on('hidden', function () {
			$('#tempModal').remove();
		});
	}

	$('#tempModalHeader').html(	'Račun');
	$('#tempModalBody').html(	'<%= j render :partial => "bill", :locals => {:order => Order.where(:id => params[:closed].to_i).first } %>' );
	$('#tempModalFooter').html(	'<button type="button" class="btn btn-primary" data-dismiss="modal">'+
									'<i class="fa fa-check"></i> Uredu'+
								'</button>' );

	$('#tempModal').modal();
</script>
<% end %>