<div class="container">
	<table class="table table-striped">
		<thead>
		</thead>
		<tbody>	
			<tr>
				<td>Servisni savjetnik</td>
				<td><%= @order.user.nameFirst %> <%= @order.user.nameLast %> (<%= @order.user.loginUsername %>)</td>
			</tr>
			<tr>
				<td>Vrijeme početka</td>
				<td><%= @order.timeStart.to_s %></td>
			</tr>
			<tr>
				<td>Vrijeme završetka</td>
				<td><%= @order.timeFinish.to_s %></td>
			</tr>
			<tr>
				<td>Status</td>
				<td>
					<% if @order.status == 1 %>
						Otvoren
					<% elsif @order.status == 2 %>
						Storniran
					<% else %>
						Zatvoren
					<% end %>
				</td>
			</tr>
		</tbody>
		<tbody>	
			<tr>
				<td colspan=2><b>Klijent</b></td>
			</tr>
			<tr>
				<td>Ime</td>
				<td><%= @order.client.nameFirst %> <%= @order.client.nameLast %></td>
			</tr>
			<tr>
				<td>Adresa</td>
				<td><%= @order.client.contactAdress %></td>
			</tr>
			<tr>
				<td>Telefon</td>
				<td><%= @order.client.contactTelephone %></td>
			</tr>
		</tbody>
		<tbody>	
			<tr>
				<td colspan=2><b>Vozilo</b></td>
			</tr>
			<tr>
				<td>Model</td>
				<td><%= @order.vehicle.vehicleModel %></td>
			</tr>
			<tr>
				<td>Godina Izgradnje</td>
				<td><%= @order.vehicle.buildYear.to_s %></td>
			</tr>
			<tr>
				<td>Registracija</td>
				<td><%= @order.vehicle.vehicleRegistration %></td>
			</tr>
		</tbody>
		<tbody>	
			<tr>
				<td colspan=2><b>Radovi</b></td>
			</tr>
			<tr>
				<td>Opis radova</td>
				<td><%= @order.description %></td>
			</tr>
			<tr>
				<td>Postupci</td>
				<td>
					<% @order.order_procedures.each do |op| %>
						<li><%= op.procedure.name %></li>
					<% end %>
				</td>
			</tr>
			<tr>
				<td>Dodatni dijelovi</td>
				<td>
					<% @order.order_parts.each do |op| %>
						<li><%= op.part.name %> - <%= op.quantity %></li>
					<% end %>
				</td>
			</tr>
		</tbody>
	</table>
</div>
