<table class="table table-striped">
	<thead>
		<tr>
			<td>ID</td>
			<td>Ime</td>
			<td>Prezime</td>
			<td style="width:25%">Opcije</td>
		</tr>
	</thead>
	<tbody>	
		<% user.each do |u| %>
			<tr>
				<td><%= u.id %></td>
				<td><%= u.nameFirst %></td>
				<td><%= u.nameLast %></td>
				<td>
					<div style="float:left;">
						<%= link_to '<i class="fa fa-edit"></i> Izmjeni'.html_safe, 
						        	edit_user_path(u),
						        	:class => "btn btn-default" %>
					</div>
					<div style="float:left; margin-left:10px;">
						<% if u.isDeleteable != false %>
							<%= link_to '<i class="fa fa-trash"></i> Izbriši'.html_safe, 
							        	user_path(u),
							        	:method => "delete",
							        	:confirm => "Jeste li sigurni da želite izbrisati korisnika #{u.nameFirst} #{u.nameLast}?",
							        	:class => "btn btn-danger" %>
						<% end %>
					</div>
				</td>
			</tr>
		<% end %>
	</tbody>
</table>