<% content_for :contextMenu do %>
	<% if currentUser.canEdit("Pages") || currentUser.canView("Pages") %>
		<li class="dropdown">
			<a href="#" class="dropdown-toggle" data-toggle="dropdown">
		      	<i class="fa fa-bars fa fa-large"></i>
			</a>
		  	<ul class="dropdown-menu">
		  		<% if currentUser.canEdit("Pages") %>
		      		<li>
		      			<%= link_to '<i class="fa fa-plus"></i> Dodaj Stranicu'.html_safe, new_page_path, "data-no-turbolink" => true %>
		      		</li>
		      	<% end %>
		      	<% if currentUser.canView("Pages") %>
			      	<li>
			      		<%= link_to '<i class="fa fa-eye-close"></i> Prikaži Sakrivene'.html_safe, pages_unpublished_path %>
			      	</li>
		      		<% if params[:showLink].to_i != 1 %>
						<li>
							<%= link_to '<i class="fa fa-eye-open"></i> Prikaži Poveznice'.html_safe, :showLink => 1 %>
						</li>
					<% else %>
						<li>
							<%= link_to '<i class="fa fa-eye-close"></i> Sakri Poveznice'.html_safe, :showLink => 0 %>
						</li>
					<% end %>
				<% end %>
			</ul>
		</li>
	<% end %>
<% end %>

<% if @page != nil && @page.count != 0 %>
	<div class="pages">
		<% @page.each do |p| %>
			<div <% if p.slug != nil && p.slug.length != 0 %> id="p_<%= p.slug %>" <% end %> class="pageItem">
				<% if p.slug != nil && p.slug.length != 0 %><a id="<%= p.slug %>"></a><% end %>
				<% if params[:showLink].to_i == 1 %>
					<div class="admin"><%= link_to '<i class="fa fa-eye-open"></i> Show'.html_safe, page_path(p) %></div>
				<% end %>
				<% if p.hasPreview == true && p.contentPreview != nil && p.contentPreview.length != 0 %>
					<%= p.contentPreview.html_safe %>
				<% else %>
					<%= p.content.html_safe %>
				<% end %>
			</div>
		<% end %>
	</div>
	<div class="container">
		<center>
			<%= will_paginate @page,
				renderer: BootstrapPagination::Rails,
				previous_label: "<i class='fa fa-chevron-left'></i>".html_safe, 
				next_label: "<i class='fa fa-chevron-right'></i>".html_safe %>
		</center>
	</div>
<% else %>
	<div class="content">
		<div class="col-md-6 col-md-offset-3">
			<center>
				<h1>Trenutaćno nemamo stranica.</h1>
				<p>Molimo Vas da dođete kasnije...</p>
			</center>		
		</div>
	</div>
<% end %>
