<div class="container">

		<div class="row">
			<div class="col-md-6">
				<%= form_for setting do |f| %>
					<div class="form-group">
						<label for="page_title">Naslov Stranice</label>
						<%= f.text_field :pageTitle, 
							:placeholder => "My awesome portofolio", 
							:class => "form-control" %>
					</div>
					<div class="form-group">
						<label for="page_slug">Podnaslov Stranice</label>
						<%= f.text_area :pageDescription, 
							:placeholder => "The best portofolio you have ever seen!", 
							:class => "form-control" %>
					</div>
				<% end %>
				
			</div>

			<div class="col-md-6">
				<div class="form-group">
					<label for="page_title">Favikona</label>
					<% faviconImage = nil %>
					<% 
					if setting.pageFavicon_id != nil
						faviconImage = Image.find_by id: setting.pageFavicon_id
					end
					if faviconImage == nil
						faviconImage = Image.new
						faviconImage.imageType = 1
					end 
					%>

					<%= form_for faviconImage, :html => { :name => "favicon_image" } do |f| %>
						<div class="form-group optUpload" id="uploadedFaviconImage">
							<div class="ddNotice">
								<div id="faviconMessage">Ubacite slike ovdje!</div>
								<div id="faviconProgress" style="display:none;">
									<div class="progress progress-striped active">
									  <div class="progress-bar"  role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" id="faviconProgressBar" style="width: 45%">
									  </div>
									</div>
								</div>
							</div>
							<div id="faviconPreview">
								<% if faviconImage.id != nil %>
									<%= render :partial => "images/faviconPreview", :locals => {:image => faviconImage } %>
								<% end %>
							</div>
						</div>
						<div class="form-group">
							<span class="btn btn-default fileinput-button submit" style="height:35px;">
								<p> <i class="icon-cloud-upload"></i> Upload Favikone </p>
								<%= f.file_field :path %>
							</span>
							<div style="flaot:left; margin-left:25px;" id="faviconDelete">
								<% if faviconImage.id != nil %>
									<%= link_to '<i class="icon-trash"></i> Izbriši'.html_safe, 
												image_path(faviconImage), 
												:method => "delete",
												:confirm => "Jeste li sikurni da želite izbrisati favikonu?",
												"data-no-turbolink" => false,
												:remote => true,
												:class => "btn btn-danger" %>
								<% end %>
							</div>
							<%= f.hidden_field :imageType %>
							<div class="clearfix"></div>
						</div>
					<% end %>

				</div>

				<div class="clearfix"></div>

				<div class="form-group">
					<br>
					<label for="page_slug">Slika Stranice</label>
					<% previewImage = nil %>
					<% 
					if setting.pagePreview_id != nil
						previewImage = Image.find_by id: setting.pagePreview_id
					end
					if previewImage == nil
						previewImage = Image.new
						previewImage.imageType = 2
					end
					%>

					<%= form_for previewImage, :html => { :name => "preview_image" } do |f| %>
						<div class="form-group optUpload" id="uploadedPreviewImage">
							<div class="ddNotice">
								Ubacite slike ovdje!
								<div id="previewProgress" style="display:none;">
									<div class="progress progress-striped active">
									  <div class="progress-bar"  role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" id="previewProgressBar" style="width: 45%">
									  </div>
									</div>
								</div>
							</div>
							<div id="previewPreview">
								<% if previewImage.id != nil %>
									<%= render :partial => "images/previewPreview", :locals => {:image => previewImage } %>
								<% end %>
							</div>
							<br>
						</div>
						<div class="form-group">
							<span class="btn btn-default fileinput-button submit" style="height:35px;">
								<p> <i class="icon-cloud-upload"></i> Upload Slike Stranice </p>
								<%= f.file_field :path %>
							</span>
							<div style="flaot:left; margin-left:25px;" id="previewDelete">
								<% if previewImage.id != nil %>
									<%= link_to '<i class="icon-trash"></i> Izbriši'.html_safe, 
												image_path(previewImage), 
												:method => "delete",
												:confirm => "Jeste li sigurni da želite izbrisati sliku stranice?",
												"data-no-turbolink" => false,
												:remote => true,
												:class => "btn btn-danger" %>
								<% end %>
							</div>
							<%= f.hidden_field :imageType %>
						</div>
					<% end %>

				</div>
			</div>
		</div>

</div>


