<!DOCTYPE html>
<html>
<head>
	<% initial %>
	<% currentUser %>
  	<title>
  		<%= pageTitle %>
  	</title>
  	<%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  	<%= csrf_meta_tags %>
  	<%= genSocialMediaTags.html_safe %>
    <%= genFaviconTags.html_safe %>
  	<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
	<script type="text/javascript">

		// Turbolinks on document ready
		$(document).ready(function() {
			// Initialize bootstrap dropdowns
			$('.dropdown-toggle').dropdown();
			// Initialze bootstrap toggle buttons
			$('.btn-toggle-group').button();
			// Set initial bootstrap toggle button state
			$('.btn-toggle-group-item').each(function() {
				if ($(this).find('input:checkbox:first').prop('checked')) {
					$(this).addClass("active");
				}
			});
			// Search
			$('#hiddenSearchToggle').click(function(){
				$('.hiddenSearch').toggle('fast');
			});
			// Pagination
			if ($('.pagination').length && true) {
			  	$(window).scroll(function() {
			    	var url;
			    	url = $('.pagination').find('a[rel=next]').attr('href');
			    	if (url && $(window).scrollTop() > $(document).height() - $(window).height() - 100) {
			      		$('.pagination').text("<i class=\"icon-spinner icon-spin icon-large\"></i> Fetching more...");
			      		$.getScript(url);
			    	}
			  	});
			  	return $(window).scroll();
			}
		});

	</script>
</head>
<body>

	<nav class="navbar navbar-default navbar-fixed-top" id="mainNavigation" role="navigation">
		<div id="loadProgress"></div>
		<div class="navbar-header">
	      	<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
	      	  	<span class="sr-only">Togglaj navigaciju</span>
	      	  	<span class="icon-bar"></span>
	      	  	<span class="icon-bar"></span>
	      	  	<span class="icon-bar"></span>
	      	</button>
	      	<a class="navbar-brand" href="<%= root_url %>"><%= pageTitle %></a>
	    </div>
	    <div class="collapse navbar-collapse navbar-ex1-collapse">


	    	<% if currentUser != nil %>
	    		<!-- User options -->
				<ul class="nav navbar-nav navbar-right">
			        <li class="dropdown">
			        	<a href="#" class="dropdown-toggle" data-toggle="dropdown">
			        		<%= image_tag gravatarUrl(currentUser, 18), :class => "img-circle" %>
			        		 <%= currentUser.nameFirst %>
			        	 	<b class="caret"></b>
			        	</a>
			          	<ul class="dropdown-menu">
			              	<li>
			              		<%= link_to '<i class="icon-gear"></i> Postavke'.html_safe, 
			              			edit_setting_path(Setting.first) %>
			              	</li>
			              	<li>
			              		<%= link_to '<i class="icon-sitemap"></i> Mreže'.html_safe, 
			              			networks_path %>
			              	</li>
			              	<li class="divider"></li>
			              	<li>
			              		<%= link_to '<i class="icon-tags"></i> Kategorije'.html_safe, 
			              			categories_path, :remote => false %>
			              	</li>
			              	<li>
			              		<%= link_to '<i class="icon-file"></i> Stranice'.html_safe, 
			              			pages_path %>
			              	</li>
			              	<li class="divider"></li>
			              	<li>
			              		<%= link_to '<i class="icon-group"></i> Radnici'.html_safe, 
			              			users_path %>
			              	</li>
			              	<li class="divider"></li>
			              	<li><%= link_to '<i class="icon-user"></i> Korisnički Račun'.html_safe, 
			              			edit_user_path(currentUser) %>
			              	</li>
			              	<li><%= link_to '<i class="icon-signout"></i> Odjava'.html_safe, 
			              			logout_path,
			              			:confirm => "Jete li sigurni da se želite odjaviti?" %>
			              	</li>
			        	</ul>
			      	</li>
			    </ul>
			    <!-- User options -->
				<ul class="nav navbar-nav navbar-right">
					<% if content_for?(:contextMenu) %>  
		               	<%= yield :contextMenu %> 
		            <% end %>
			    </ul>
	    	<% end %>

			<!-- Pages -->
			<ul class="nav navbar-nav">
				<% Page.where(:category_id => nil, :isPublic => true).where.not(:isHidden => true).each do |p| %>
					<li>
						<%= link_to p.icon.html_safe + p.title, page_path(p), 
							"data-no-turbolink" => false %>
					</li>
				<% end %>
		    </ul>
			
			<!-- Categories -->
		    <ul class="nav navbar-nav">
				<% Category.roots.each do |c| %>
					<% if c.has_children? %>
						<li class="dropdown" >
							<%= link_to c.icon.html_safe + c.title + " <b class=\"caret\"></b>".html_safe, 
								"#",
								:class => "dropdown-toggle",
								"data-toggle" => "dropdown" %>
							<ul class="dropdown-menu">
								<li>
					            	<%= link_to c.icon.html_safe + c.title, 
										category_path(c),
										:class => "dropdown-toggle",
										"data-toggle" => "dropdown" %>
					            </li>
					            <li class="divider"></li>
								<% c.children.each do |h| %>
					              	<li>
					              		<%= link_to h.icon.html_safe + h.title, 
					              			category_path(h) %>
					              	</li>
								<% end %>
				        	</ul>
						</li>
					<% else %>
						<li>
							<%= link_to c.icon.html_safe + c.title, category_path(c) %>
						</li>
					<% end %>
				<% end %>
		    </ul>

		    <!-- Search -->
		    <%
		    style = "" 
		    if params[:search]
		    	style = "display:inline-block"
		    end 
		    %>
		    <%=	form_tag pages_path, 
		    	:class => "navbar-form navbar-left hiddenSearch", 
		    	:method => 'get',
		    	:style => style do %>
		          	<div class="form-group">
		          		<%= text_field_tag :search, 
		          			params[:search],
		          			:placeholder => "Pretraga",
		          			:class => "form-control" %>
		          	</div>
    				<%= submit_tag "Traži".html_safe, 
    					:name => nil,
    					:class=> "btn btn-primary btn-block hiddenSearchButton" %>
		    <% end %>
	        <ul class="nav navbar-nav hiddenSearchButtonAlt">
	            <li><a id="hiddenSearchToggle"><i class="icon-search"></i></a></li>
	        </ul>

			<ul class="nav navbar-nav navbar-right">
				<% Network.where.not(:hidden => true).each do |n| %>
					<li>
						<% 
						hiddenName = "" 
						if n.name != nil && n.name.length != 0
							hiddenName = " <i class='visible-xs' style='float:right; margin-left:4px;'>#{n.name}</i>".html_safe
						end
						%>
						<% if n.showName == true %>
			        		<%= link_to n.icon.html_safe + n.name, n.link, :target => '_blank' %>
			        	<% else %>
			        		<%= link_to n.icon.html_safe + hiddenName, n.link, :target => '_blank' %>
			        	<% end %>
			        </li>
				<% end %>
			</ul>

	    </div>
	</nav>

	<div class="header">
		<div class="title clearfix">
			<h1>
				<%= pageTitle %>
			</h1>
			<h4>
				<%= Setting.first.pageDescription %>
			</h4>
		</div>
	</div>
	
	

	<%= yield %>

</body>
<footer>
	<div id="content-helper"></div>
</footer>
</html>
