<!DOCTYPE html>
<html>
<head>
	<% initial %>
	<% currentUser %>
  	<title>
  		<%= pageTitle %>
  	</title>
  	<%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  	<%= csrf_meta_tags %>
  	<%= genSocialMediaTags.html_safe %>
    <%= genFaviconTags.html_safe %>
  	<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
	<script type="text/javascript">

		// Turbolinks on document ready
		$(document).ready(function() {
			// Error handeling
			displayError("<%= j raw(flash_display) %>");
			// Initialize bootstrap dropdowns
			$('.dropdown-toggle').dropdown();
			// Initialze bootstrap toggle buttons
			$('.btn-toggle-group').button();
			// Set initial bootstrap toggle button state
			$('.btn-toggle-group-item').each(function() {
				if ($(this).find('input:checkbox:first').prop('checked')) {
					$(this).addClass("active");
				}
			});
			// Search
			$('#hiddenSearchToggle').click(function(){
				$('.hiddenSearch').toggle('fast');
			});
			// Pagination
			if ($('.pagination').length && true) {
			  	$(window).scroll(function() {
			    	var url;
			    	url = $('.pagination').find('a[rel=next]').attr('href');
			    	if (url && $(window).scrollTop() > $(document).height() - $(window).height() - 100) {
			      		$('.pagination').html("<i class=\"fa fa-spinner fa-spin fa-large\"></i> Fetching more...");
			      		$.getScript(url);
			    	}
			  	});
			  	return $(window).scroll();
			}
		});

		function displayError(errorMessage)
		{
			if(errorMessage.length == 0) return;

			if(!$('#flash').length)
			{
				$('body').prepend(	'<div id="flash" class="alert fade in" style="position:absolute; top:70px; left:2%; width:30%; z-index:1041; display:none;">'+
										'<button type="button" class="close" data-dismiss="alert">&times;</button>'+
										'<div id="flashmsg"></div>'+
									'</div>');
			}

			$('#flashmsg').html(errorMessage);

			$('#flash').removeClass("alert-success").removeClass("alert-danger").addClass("alert-danger");;

			if ($('#flash_notice').length) 	$('#flash').removeClass("alert-danger").addClass("alert-success");
			if ($('#flash_alert').length) 	$('#flash').addClass("alert-danger");

			$('#flash').show();
		}

	</script>
</head>
<body>

	<nav class="navbar navbar-default navbar-fixed-top" id="mainNavigation" role="navigation">
		<div id="loadProgress"></div>
		<div class="navbar-header">
	      	<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
	      	  	<span class="sr-only">Togglaj navigaciju</span>
	      	  	<span class="fa fa-bars"></span>
	      	</button>
	      	<a class="navbar-brand" href="<%= root_url %>"><%= pageTitle %></a>
	    </div>
	    <div class="collapse navbar-collapse navbar-ex1-collapse">


	    	<% if currentUser != nil %>
	    		<!-- User options -->
				<ul class="nav navbar-nav navbar-right">
			        <li class="dropdown">
			        	<a href="#" class="dropdown-toggle" data-toggle="dropdown">
			        		<%= image_tag gravatarUrl(currentUser, 18), :class => "img-circle" %>
			        		 <%= currentUser.nameFirst %>
			        	 	<b class="caret"></b>
			        	</a>
			          	<ul class="dropdown-menu">
			          		<% if currentUser != nil && currentUser.canView("Settings") %>
				              	<li>
				              		<%= link_to '<i class="fa fa-gear"></i> Postavke'.html_safe, 
				              			edit_setting_path(Setting.first) %>
				              	</li>
			              	<% end %>
			              	<% if currentUser != nil && currentUser.canView("Networks") %>
			              		<li>
			              			<%= link_to '<i class="fa fa-sitemap"></i> Mreže'.html_safe, 
			              				networks_path %>
			              		</li>
			              	<% end %>

			              	<% 
			              		if 	currentUser.canView("Settings") ||
			              			currentUser.canView("Networks")
			              	%>
			              		<li class="divider"></li>
			              	<% end %>

			              	<% if currentUser != nil && currentUser.canView("Categories") %>
			              		<li>
			              			<%= link_to '<i class="fa fa-tags"></i> Kategorije'.html_safe, 
			              				categories_path, :remote => false %>
			              		</li>
			              	<% end %>
			              	<% if currentUser != nil && currentUser.canView("Pages") %>
			              		<li>
			              			<%= link_to '<i class="fa fa-file"></i> Stranice'.html_safe, 
			              				pages_path %>
			              		</li>
			              	<% end %>
			              	
			              	<% 
			              		if 	currentUser.canView("Categories") ||
			              			currentUser.canView("Pages")
			              	%>
			              		<li class="divider"></li>
			              	<% end %>

			              	<% if currentUser != nil && currentUser.canView("Users") %>
			              		<li>
			              			<%= link_to '<i class="fa fa-group"></i> Radnici'.html_safe, 
			              				users_path %>
			              		</li>
			              	<% end %>
			              	<% if currentUser != nil && currentUser.canView("Roles") %>
			              		<li>
			              			<%= link_to '<i class="fa fa-suitcase"></i> Uloge'.html_safe, 
			              				roles_path %>
			              		</li>
			              	<% end %>
			              	
			              	<% 
			              		if 	currentUser.canView("Users") ||
			              			currentUser.canView("Roles")
			              	%>
			              		<li class="divider"></li>
			              	<% end %>

			              	<% if currentUser != nil && currentUser.canView("Orders") %>
			              		<li>
			              			<%= link_to '<i class="fa fa-file-text-o"></i> Radni nalozi'.html_safe, 
			              				orders_path %>
			              		</li>
			              	<% end %>
			              	<% if currentUser != nil && currentUser.canView("Clients") %>
			              		<li>
			              			<%= link_to '<i class="fa fa-female"></i> Klijenti'.html_safe, 
			              				clients_path %>
			              		</li>
			              	<% end %>
			              	<% if currentUser != nil && currentUser.canView("Vehicles") %>
			              		<li>
			              			<%= link_to '<i class="fa fa-rocket"></i> Vozila'.html_safe, 
			              				vehicles_path %>
			              		</li>
			              	<% end %>
			              	
			              	<% 
			              		if 	currentUser.canView("Orders") ||
			              			currentUser.canView("Clients") ||
			              			currentUser.canView("Vehicles")
			              	%>
			              		<li class="divider"></li>
			              	<% end %>

			              	<% if currentUser != nil && currentUser.canView("Parts") %>
			              		<li>
			              			<%= link_to '<i class="fa fa-gears"></i> Dijelovi'.html_safe, 
			              				parts_path %>
			              		</li>
			              	<% end %>
			              	<% if currentUser != nil && currentUser.canView("Procedures") %>
			              		<li>
			              			<%= link_to '<i class="fa fa-wrench"></i> Postupci'.html_safe, 
			              				procedures_path %>
			              		</li>
			              	<% end %>
			              	
			              	<% 
			              		if 	currentUser.canView("Parts") ||
			              			currentUser.canView("Procedures")
			              	%>
			              		<li class="divider"></li>
			              	<% end %>

			              	<% if currentUser != nil && currentUser.canView("Statements") %>
			              		<li>
			              			<%= link_to '<i class="fa fa-bar-chart-o"></i> Obračuni'.html_safe, 
			              				statements_path %>
			              		</li>
			              	<% end %>
			              	<% if currentUser != nil && currentUser.canView("WorkingHours") %>
			              		<li>
			              			<%= link_to '<i class="fa fa-clock-o"></i> Radno vrijeme'.html_safe, 
			              				working_hours_path %>
			              		</li>
			              	<% end %>
			              	
			              	<% 
			              		if 	currentUser.canView("Statements") ||
			              			currentUser.canView("WorkingHours")
			              	%>
			              		<li class="divider"></li>
			              	<% end %>

			              	<li><%= link_to '<i class="fa fa-user"></i> Korisnički Račun'.html_safe, 
			              			edit_user_path(currentUser) %>
			              	</li>
			              	<li><%= link_to '<i class="fa fa-sign-out"></i> Odjava'.html_safe, 
			              			logout_path,
			              			:confirm => "Jete li sigurni da se želite odjaviti?" %>
			              	</li>
			        	</ul>
			      	</li>
			    </ul>
			    <!-- User options -->
				<ul class="nav navbar-nav navbar-right">
					<% if content_for?(:contextMenu) %>  
		               	<%= yield :contextMenu %> 
		            <% end %>
			    </ul>
			<% else %>
				<!-- User login -->
				<ul class="nav navbar-nav navbar-right">
					<li>
						<%= link_to '<i class="fa fa-sign-in"></i> Prijava'.html_safe, login_path %>
			        </li>
			    </ul>
	    	<% end %>

			<!-- Pages -->
			<ul class="nav navbar-nav">
				<% Page.where(:category_id => nil, :isPublic => true).where.not(:isHidden => true).each do |p| %>
					<li>
						<%= link_to p.icon.html_safe + p.title, page_path(p), 
							"data-no-turbolink" => false %>
					</li>
				<% end %>
		    </ul>
			
			<!-- Categories -->
		    <ul class="nav navbar-nav">
				<% Category.roots.each do |c| %>
					<% if c.has_children? %>
						<li class="dropdown" >
							<%= link_to c.icon.html_safe + c.title + " <b class=\"caret\"></b>".html_safe, 
								"#",
								:class => "dropdown-toggle",
								"data-toggle" => "dropdown" %>
							<ul class="dropdown-menu">
								<li>
					            	<%= link_to c.icon.html_safe + c.title, 
										category_path(c),
										:class => "dropdown-toggle",
										"data-toggle" => "dropdown" %>
					            </li>
					            <li class="divider"></li>
								<% c.children.each do |h| %>
					              	<li>
					              		<%= link_to h.icon.html_safe + h.title, 
					              			category_path(h) %>
					              	</li>
								<% end %>
				        	</ul>
						</li>
					<% else %>
						<li>
							<%= link_to c.icon.html_safe + c.title, category_path(c) %>
						</li>
					<% end %>
				<% end %>
		    </ul>

		    <!-- Search -->
		    <%
		    style = "" 
		    if params[:search]
		    	style = "display:inline-block"
		    end 
		    %>
		    <%=	form_tag pages_path, 
		    	:class => "navbar-form navbar-left hiddenSearch", 
		    	:method => 'get',
		    	:style => style do %>
		          	<div class="form-group">
		          		<%= text_field_tag :search, 
		          			params[:search],
		          			:placeholder => "Pretraga",
		          			:class => "form-control" %>
		          	</div>
    				<%= submit_tag "Traži".html_safe, 
    					:name => nil,
    					:class=> "btn btn-primary btn-block hiddenSearchButton" %>
		    <% end %>
	        <ul class="nav navbar-nav hiddenSearchButtonAlt">
	            <li><a id="hiddenSearchToggle"><i class="fa fa-search"></i></a></li>
	        </ul>

			<ul class="nav navbar-nav navbar-right">
				<% Network.where.not(:hidden => true).each do |n| %>
					<li>
						<% 
						hiddenName = "" 
						if n.name != nil && n.name.length != 0
							hiddenName = " <i class='visible-xs' style='float:right; margin-left:4px;'>#{n.name}</i>".html_safe
						end
						%>
						<% if n.showName == true %>
			        		<%= link_to n.icon.html_safe + n.name, n.link, :target => '_blank' %>
			        	<% else %>
			        		<%= link_to n.icon.html_safe + hiddenName, n.link, :target => '_blank' %>
			        	<% end %>
			        </li>
				<% end %>
			</ul>

	    </div>
	</nav>

	<div class="header">
		<div class="title clearfix">
			<h1>
				<%= pageTitle %>
			</h1>
			<h4>
				<%= Setting.first.pageDescription %>
			</h4>
		</div>
	</div>
	
	

	<div class="content" style="padding:10px;">
		<%= yield %>
	</div>

</body>
<footer>
	<div id="content-helper"></div>
</footer>
</html>
