<table class="table table-striped">
	<thead>
		<tr>
			<td>Naziv</td>
			<td>Broj radnika</td>
			<td>Trajanje</td>
			<td>Cijena čovijek-sata</td>
			<td style="width:25%">Opcije</td>
		</tr>
	</thead>
	<tbody>	
		<% procedure.each do |u| %>
			<tr>
				<td><%= u.name %></td>
				<td><%= u.minNumOfWorkers %></td>
				<td><%= u.duration %></td>
				<td><%= u.manHour %></td>
				<td>
					<% if currentUser != nil && currentUser.canEdit("Parts") %>
						<div style="float:left;">
							<%= link_to '<i class="fa fa-edit"></i> Izmjeni'.html_safe, 
							        	edit_procedure_path(u),
							        	:class => "btn btn-default" %>
						</div>
						<div style="float:left; margin-left:10px;">
							<%= link_to '<i class="fa fa-trash"></i> Izbriši'.html_safe, 
							        	procedure_path(u),
							        	:method => "delete",
							        	:confirm => "Jeste li sigurni da želite izbrisati postupak #{u.name}?",
							        	:class => "btn btn-danger" %>
						</div>
					<% end %>
				</td>
			</tr>
		<% end %>
	</tbody>
</table>