<%= form_for network do |f| %>

	<div class="row">
		<div class="form-group">
			<label for="page_title">Ime</label>
			<%= f.text_field :name, 
				:placeholder => "GitHub", 
				:class => "form-control" %>
		</div>
		<div class="form-group">
			<label for="page_slug">Poveznica</label>
			<%= f.text_field :link, 
				:placeholder => "https://github.com/username", 
				:class => "form-control" %>
		</div>
		<div class="form-group">
			<label for="page_tags">Ikona</label>
			<%= f.text_field :icon, 
				:placeholder => "<i class=\"fa fa-github\"></i>", 
				:class => "form-control" %>
		</div>
		<div class="form-group">
			<label for="page_tags">Opcije</label>
			<div class="clearfix"></div>
			<%= f.check_box :hidden %> Sakrivena 
			<div class="clearfix"></div>
			<%= f.check_box :showName %> Prikazuje Ime
		</div>
	</div>

<% end %>
